body {
    background-color: white;
    color: black;
}
button {
    width: 130px;
    height: 60px;
    border: 6px soldi white;
    border-radius: 50px;
    background: #524f4f;
    color: rgb(0, 0, 0);
    cursor: pointer;
    outline: none;
}

#Stopwatch {
    font-size: 100px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -55%);
    }
    #buttons {
        position: absolute;
        top: 65%;
        left: 45.5%;
        transform: translate(-51.6%, -45%);
        }
        #buttons li {
            display: inline;
            padding-left: 70px;
            }